<app-navbar></app-navbar>
<div class="title">Praise</div>
<div class="main">
  <div class="box">
    <div class="card">
      <div class="home">
        <div class="title-grade">Grade Statistics</div>
        <div class="div-cla">
          <div class="input-wrap">
            <label class="lable">Select Region</label>
            <select type="text" class="input-value">
              <option selected>All</option>
              <option>data1</option>
              <option>data2</option>
              <option>data3</option>
            </select>
          </div>
          <div class="input-wrap">
            <label class="lable">Select Job Role</label>
            <select type="text" class="input-value">
              <option selected>All</option>
              <option>data1</option>
              <option>data2</option>
              <option>data3</option>
            </select>
          </div>
          <div class="input-wrap">
            <label class="lable">Select From Date</label>
            <input type="date" class="input-value" />
          </div>
          <div class="input-wrap">
            <label class="lable">Select To Date</label>
            <input type="date" class="input-value" />
          </div>
          <p><strong>...</strong></p>
        </div>
      </div>
      <div class="card_description">
        <app-barchart></app-barchart>
      </div>
    </div>
  </div>
  <div class="overrude_request">
    <div class="container">
      <div class="small-card">
        <div class="title-small-card">Overdue Request</div>
        <div class="buttons">
          <button (click)="onLargeCardClick('left')" class="slider-btn">
            <i class="fa fa-chevron-left"></i>
          </button>
          <button class="slider-btn" (click)="onLargeCardClick('right')">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <app-small-card></app-small-card>
      </div>
    </div>
  </div>
</div>
<div class="btns">
  <div class="all-btns">
    <button class="recycle-1"><i class="fa fa-user"></i> Review Cycle</button>
    <button class="recycle"><i class="fa fa-users"></i> Participents</button>
    <button class="recycle">
      <i class="far fa-clipboard"></i> Questionnaires
    </button>
  </div>
  <div class="input-wrap">
    <label class="lable">Select Year</label>
    <select type="text" class="input-value">
      <option selected>2021</option>
      <option>2020</option>
      <option>2019</option>
      <option>2018</option>
    </select>
  </div>
</div>
<div class="small-card-section">
  <div class="btn-wrap">
    <div class="btn-inputs">
      <button class="btn"><i class="fa fa-plus"></i> Create New</button>
    </div>
    <div class="input-group">
      <div class="input-select">
        <label class="lable">Show</label>
        <select type="text" class="input-value">
          <option selected>All</option>
          <option>Completed</option>
          <option>Remain</option>
          <option>Cancle</option>
        </select>
      </div>
      <button class="slider-btn"><i class="fa fa-chevron-left"></i></button>
      <button class="slider-btn"><i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
  <div class="container">
    <app-large-card></app-large-card>
  </div>
</div>
